<div class="div-conetent--home">

    <section class="section-carousel section-carousel-albums">

        <h2 class="section-title title-out">ÚLTIMOS LANZAMIENTOS</h2>

        <div>
            <div class="bxslider">
                <div><img src="/assets/img/arca.jpeg" title="Funky roots"></div>
                <div><img src="/assets/img/motomami.jpeg" title="The long and winding road"></div>
                <div><img src="/assets/img/blackcountry.jpg" title="Happy trees"></div>
            </div>
        </div>

    </section>

    <section class="section-highest-rate">
        <h2 class="section-title">MEJORES PUNTUADOS</h2>
        <div class="highest-album-rates">

        </div>
    </section>

    <section class="section-last-reviews">
        <h2 class="section-title">ÚLTIMAS REVIEWS</h2>
        <div class="last-reviewed-albums section-carousel">
            <div>
                <div class="bxslider-reviews">
                    <div>
                    <h3>"El mejor de los cuatro explosivos lanzamientos de Arca" by node_js</h3>
                    <img src="/assets/img/arca.jpeg" title="Funky roots">
                    </div>
                    <div><img src="/assets/img/motomami.jpeg" title="The long and winding road"></div>
                    <div><img src="/assets/img/blackcountry.jpg" title="Happy trees"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-your-last-reviews">
        <h2 class="section-title">TUS ÚLTIMAS REVIEWS</h2>
        <div class="your-last-reviewed-albums">

        </div>
    </section>

</div>