<header>
  <div class="container">
    <div class="menu-trigger" (click)="isOpen = !isOpen">
      Mu51c-Z3r0 <i [ngClass]="isOpen ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
    </div>
    <div class="menu" *ngIf="isOpen" [@dropDownMenu]>
      <div class="menu-item">
        <ul>
          <li><a [routerLink]="['/home']">Inicio</a></li>
          <li>
            <ul>
              Música
              <li>
                <a [routerLink]="['/buscar']" >Buscar</a>
              </li>
              <li>
                <a [routerLink]="['/musica']">Registrar</a>
              </li>
              <li>
                <a [routerLink]="['/musica']">Tús puntuaciones</a>
              </li>
            </ul>
          </li>
          <li><a [routerLink]="['/perfil']">Mi perfil</a></li> 
        </ul> 
      </div>
    </div>
  </div>
</header>

<section class="main-content">
  <router-outlet></router-outlet>  

  <div class="clearfix"></div>
</section>

<footer>
  Todos los derechos reservados ©
</footer>
